/*---------------------------------------------------------*/
/*-------------------BASICS SETUP--------------------------*/
/*---------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background: #fff;
    color: #5c5c5c;
    font-family: "Lato", 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix {zoom: 1;}
.clearfix::after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*---------------------------------------------------------*/
/*-------------------REASUABLE Components------------------*/
/*---------------------------------------------------------*/
.row {
    max-width: 1140px;
    margin:  0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1px;
    
}

/*---------------------------------------------------------*/
/*-------------------HEADINGS------------------*/
/*---------------------------------------------------------*/

h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
    
  }
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h2:after {
    display: block;
    height: 2px;
    background-color: #1abc9c;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

h3 {
    font-size: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
}
h4 {
    padding: 20px;
}
h4 a{
    color: #555;
    text-decoration: none;

}

/*---------------------------------------------------------*/
/*-------------------O MNIE------------------*/
/*---------------------------------------------------------*/
.o-mnie .long-copy {
    margin-bottom: 30px;
}


/*---------------------------------------------------------*/
/*-------------------PARAGRAPHS------------------*/
/*---------------------------------------------------------*/
.long-copy {
    line-height: 140%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    
        
}
/*---------------------------------------------------------*/
/*-------------------ICONS------------------*/
/*---------------------------------------------------------*/

.icon-big {
    font-size: 250%;
    display: block;
    color: #1abc9c;
    margin-bottom: 10px;
    margin: 0 auto;
}



/*---------------------------------------------------------*/
/*-------------------BUTTONS------------------*/
/*---------------------------------------------------------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    margin-bottom: 20px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    
}

.btn-full:link,
.btn-full:visited {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #1abc9c;
    color: #1abc9c;
    margin-right: 20px;
    margin-left: 20px;
}

.btn:hover,
.btn:active {
    background-color: #148f77;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #1abc9c;    
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #1abc9c;
    color: white;
}

/*---------------------------------------------------------*/
/*-------------------HEADER------------------*/
/*---------------------------------------------------------*/


header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/hero1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/hero1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    margin-top: 20px;
    height: 100px;
    width: auto;
    float: left;
        
}
.logo-sticky {
    display: none;
    margin: 5px 0;
    height: 50px;
    width: auto;
    float: left;
}
/*---------------------------------------------------------*/
/*-------------------MAIN-NAVI------------------*/
/*---------------------------------------------------------*/

.main-nav {
    margin-top: 55px;
    float: right;
    list-style: none;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
 border-bottom: 2px solid #1abc9c;   
}
/*---------------------------------------------------------*/
/*-------------------ALWAYS ON NAVI------------------*/
/*---------------------------------------------------------*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}
.sticky .main-nav {margin-top: 20px; }
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 18px 0;
    color: #555;
}
.sticky .logo {display: none;}
.sticky .logo-sticky {display: block;}

/*---------------------------------------------------------*/
/*-------------------MOBILE NAVI------------------*/
/*---------------------------------------------------------*/
.mobile-navi-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}
.mobile-navi-icon .menu-icon {
    font-size: 200%;
    color: white;
}



/*---------------------------------------------------------*/
/*-------------------PHOTOS------------------*/
/*---------------------------------------------------------*/
.section-photos {
    padding: 0;
}
.photos-showcase {
    list-style: none;
    width: 100%;
    margin-bottom: 0;   
}
.photos-showcase li {
    display: block;
    float: left;
    width: 25%;

}
.czapla-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black; 
    }
.czapla-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.14);
    transform: scale(1.14);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.czapla-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/*---------------------------------------------------------*/
/*-------------------TESTIMONIALS------------------*/
/*---------------------------------------------------------*/

.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/testimonials-back.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/testimonials-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-attachment: fixed;
}
blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;  
    position: relative;  
    margin-top: 40px;
}
blockquote::before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}
cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
cite img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*---------------------------------------------------------*/
/*-------------------PLANS------------------*/
/*---------------------------------------------------------*/

.section-plans {
    background-color: #f4f4f4;

}
.plan-box {
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #e3e3e3;
    box-shadow: 0 2px 2px #e3e3e3;
}
.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 20px;
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.plan-box div:last-child{
    text-align: center;
    border: none;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #1abc9c;

}
.plan-price span {
    font-size: 25%;
    font-weight: 300;
}
.plan-price-trening {
    font-size: 80%;
    font-weight: 300;
}
.plan-box ul {
    list-style: none;
}
.plan-box ul li {
    padding: 5px 0;
}

/*---------------------------------------------------------*/
/*-------------------CALENDAR------------------*/
/*---------------------------------------------------------*/

.section-calendar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/9.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-attachment: fixed;
}


.calendar {
    width: 80%;
    height: 600px;
    margin-left: 10%;
    border: 1px solid white;

}
/*---------------------------------------------------------*/
/*-------------------FORM------------------*/
/*---------------------------------------------------------*/
.contact-form {
    width: 60%;
    margin: 0 auto;
    background-color: #f4f4f4;
    border-radius: 5px ;

}
.contact-form h4 {
    margin-top: 50px;
    font-weight: 400;

}

/*---------------------------------------------------------*/
/*-------------------FOOTER------------------*/
/*---------------------------------------------------------*/
footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%;

}
.footer-nav {
    list-style-type: none;
    float: left;

}
.social-links {
    list-style-type: none;
    float: right;
}

.footer-nav li,
.social-links li  {
    display: inline-block;
    margin-right: 20px;


}
.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}
.social-links li a:link,
.social-links li a:visited {
    font-size: 150%;
}

.iconFacebook,
.iconTwitter,
.iconLinkedin,
.iconSkype,
.iconInstagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
.iconFacebook:hover {
    color: #3b5998;
}
.iconTwitter:hover {
     color: #55acee;
 }
.iconLinkedin:hover {
    color: #007bb5;
}
.iconSkype:hover {
    color: #00aff0;
}
.iconInstagram:hover {
    color: #cd486b;
}
/*---------------------------------------------------------*/
/*-------------------ANIMATIONS------------------*/
/*---------------------------------------------------------*/
.js--wp1 {
    opacity: 0;
    animation-duration: 1s;
}

.js--wp1.animated {
    opacity: 1;
}